@font-face {
  font-family: "Gilroy_Thin";
  src: url(./fonts/Gilroy-Thin.ttf);
}
@font-face {
  font-family: "Gilroy_Italic";
  src: url(./fonts/Gilroy-LightItalic.ttf);
}
@font-face {
  font-family: "Gilroy_Regular";
  src: url(./fonts/Gilroy-Regular.ttf);
}
@font-face {
  font-family: "Gilroy_Medium";
  src: url(./fonts/Gilroy-Medium.ttf);
}
@font-face {
  font-family: "Gilroy_Semibold";
  src: url(./fonts/Gilroy-SemiBold.ttf);
}
@font-face {
  font-family: "Gilroy_Bold";
  src: url(./fonts/Gilroy-Bold.ttf);
}
@font-face {
  font-family: "Gilroy_Black";
  src: url(./fonts/Gilroy-Black.ttf);
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700;900&display=swap");

:root {
  /* //font family */
  --font-gilroy-thin: "Gilroy_Thin", sans-serif;
  --font-gilroy-italic: "Gilroy_Italic", sans-serif;

  --font-gilroy-regular: "Gilroy_Regular", sans-serif;
  --font-gilroy-medium: "Gilroy_Medium", sans-serif;
  --font-gilroy-semibold: "Gilroy_Semibold", sans-serif;
  --font-gilroy-bold: "Gilroy_Bold", sans-serif;
  --font-gilroy-black: "Gilroy_Black", sans-serif;
  /* //font size */
  --heading-1: 28px;
  --heading-2: 22px;
  --big-text: 18px;
  --normal-text: 16px;
  --small-text: 14px;
  /* //colors */
  --pc-blue: #222057;
  --pc-black: #232323;
  --pc-orange: #f8991d;
  --pc-light-gray: #939393;
  --pc-dark-gray: #323232;
  --pc-white-white: #ffffff;
  --pc-bg: #f5f6fa;
}

* {
 
  font-family: var(--font-gilroy-regular);
  -webkit-font-smoothing: antialiased;
}
a {
  text-decoration: none;
  color: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--pc-bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 100vw;
  padding-right: 50px;
  display: flex;
  align-items: center;
  justify-content: center;flex-direction: column;
}

.btn_div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn_custom {
  display: flex;align-items: center;justify-content: center;
  font-family: var(--font-gilroy-regular);
  background-color: var(--pc-orange);
  border: none;
  outline: none;
  font-size: var(--big-text);
  color: var(--pc-white-white);
  width: 100%;
  margin: auto;
  margin-top: 25px;
  padding: 5px 18px;
  cursor: pointer;
  height: 48.23px;
  border-radius: 8px;
}

/* // pages  */
.home {
  width: 100%;
  height: 100vh;
  margin: auto;
  padding: 3rem;
}

.home .error_message {
  margin-bottom: 40px;
  width: 50%;
}

.home > h1 {
  font-size: 37px;
  font-family: var(--font-gilroy-bold);
  color: var(--pc-blue);
  margin-bottom: 30px;
}

.home > form {
 width: 50%;
}

.home > form > div {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 25px;
  width: 100%;
}

.home > form > div input {
  height: 48px;
  margin: auto;
  margin-top: 12px;
  border: 1px solid var(--pc-light-gray);
  border-radius: 8px;
  padding: 0 18px;
  font-size: inherit;
}

.home > form > div > input:focus {
  border: 1px solid var(--pc-orange) !important;
  outline: none !important;
}

.home > form > div > select {
width: 100%;  height: 48px;
  margin-top: 12px;
  border: 1px solid var(--pc-light-gray);
  border-radius: 8px;
  padding: 0 18px;
  outline: none !important;
  font-family: var(--font-gilroy-regular);
}

.home > form > div > select:active,
.home > form > div > select:focus {
  border: 1px solid var(--pc-orange) !important;
  outline: none !important;
}

.home .error_message {
  width: 100%;
  color: #ff0000;
  font-family: var(--font-gilroy-bold);
  text-align: center;
}

/* // quiz */
.quiz {
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 3rem;
  position: relative;
}
.quiz {
  align-items: start;
  width: 70%;
}

.quiz h1 {
  color: var(--pc-blue);
  font-size: 40px;
  font-family: var(--font-gilroy-bold);
}

.quiz p {
  color: var(--pc-blue);
  font-size: 25px;
  font-family: var(--font-gilroy-bold);
  text-transform: capitalize;
}

.quiz .question_container {
  margin-top: 10px;
  margin-bottom: 30px;
}

.quiz .radio {
  margin-right: 4px;
}

.quiz .question_title {
  font-size: 18px;
  text-transform: capitalize;
  margin-top: 25px;
}

.quiz .questions {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  list-style-type: none;
  padding-left: 25px;
  font-size: 17px;
  margin-top: 5px;
}

.quiz .options {
  margin-bottom: 7px;
  cursor: pointer !important;
}

.quiz .submit_button {
  width: 40%;
  height: 48px;
  background-color: var(--pc-orange);
  font-family: inherit;
  border: none;
  font-size: inherit;
  border-radius: 8px;
  padding: 0 18px;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.2s ease-in;
  text-align: center;
  margin: auto;
  margin-top: 50px;
  margin-left: 25px;
}

/* // Score */
.score {
  padding: 4rem 10rem;
  width: 100%;
  height: max-content;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  height: 100vh;
}

.quiz_results_details {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  width: 100%;
}

.success_fail_text {
  margin-top: 18px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0;
}

.bxs-check-circle {
  color: green;
}

.success_fail_text h3 {
  color: var(--pc-blue);
  font-size: 32px;
  font-weight: bold;
  font-family: var(--font-gilroy-semibold);
  line-height: 1;
}

.grade_board,
.quiz_results_btns {
  padding-left: 32px;
}

.quiz_results_btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
}

#score {
  font-weight: bold;
}

.grade_jumb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  width: 100%;
}

.view_result {
  width: 200px;
  height: 40px;
  border-radius: 8px;
  border: none;
  outline: none;
  padding: 0 18px;
  cursor: pointer;
  font-family: inherit;
  background-color: #cccccc;
  font-family: var(--font-gilroy-regular);
  font-size: 14.5px;
}

.quiz_try_again {
  width: 200px;
  height: 40px;
  border: 1px solid var(--pc-orange);
  border-radius: 8px;
  padding: 0 18px;
  cursor: pointer;
  font-family: var(--font-gilroy-regular);
  background-color: transparent;
  font-size: 14.5px;
}

.loading_text {
  font-family: var(--font-gilroy-medium);
  color: var(--pc-blue);
  font-size: 18px;
  text-transform: capitalize;
  align-items: center;
  justify-content: center;
}

.back_button_div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.back_button {
  width: 200px;
  height: 40px;
  border-radius: 8px;
  border: none;
  outline: none;
  padding: 0 18px;
  cursor: pointer;
  font-family: inherit;
  background-color: var(--pc-orange);
  font-family: var(--font-gilroy-regular);
  color: white;
  font-size: 14.5px;
  display: none;
}

.countDownElement{
  font-size: 20px;
  font-weight: bold;
  color: var(--pc-blue);
  font-family: var(--font-gilroy-medium);
}

.grade_recieved {
  font-family: var(--font-gilroy-medium);
  font-size: 18px;
}

.topass {
font-family: var(--font-gilroy-italic);}

@media (max-width: 700px) {
  .home > h1 {
    margin-top: 4rem;
    padding: 0 25px;
    text-align: center;
    font-size: 35px;
  }
  body {
    height: max-content;
  }
  .home {
    width: 100%;
    height: max-content;
    margin: 50px auto;
  }
  .home > form {
    width: 100%;
    padding: 1.5rem;
  }
  .btn_custom {
    width: 100%;
    font-size: var(--normal-text);
  }
  .score {
    padding: 25px;
    width: 100%;
    height: max-content;
    justify-content: start;
    flex-direction: column;
    margin: 45px auto;
    height: 100vh;
  }
  .grade_jumb {
    flex-direction: column;
    gap: 25px;
  }
  .grade_board,
  .quiz_results_btns {
    padding-left: 0px;
    width: 100%;
    flex-direction: column;
    gap: 0;
  }
  .grade_board {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .grade_board #score {
    font-size: 35px;
  }
  .quiz_results_btns > button {
    width: 100%;
    margin-bottom: 25px;
  }
  i {
    display: none !important;
  }
  .success_fail_text {
    text-align: center;
  }
  .grade_ span {
    display: block;
    text-align: center;
  }
  .quiz {
    width: 100%;
    padding:3rem 25px;
  }
  .back_button_div {
    flex-direction: column;
  }

  .quiz p {
    font-size: 18px;
    margin-bottom: 15px;
  }

  .quiz h1 {
    width: 100%;
    font-size: 40px;
    text-align: center;
  }

  .quiz .submit_button {
    width: 80%;
  }

  .countDownElement{
    text-align: center;
  }

  .home {
    padding: 0px 25px;
}
}


@media (min-width: 701px) and (max-width: 1112px){
  .quiz {
    align-items: start;
    width: 90%;
}
.score {
  padding: 4rem 2rem;
  width: 100%;
}
}
