@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gilroy_Thin";
  src: url(./assets/fonts/Gilroy-Thin.ttf);
}
@font-face {
  font-family: "Gilroy_Italic";
  src: url(./assets/fonts/Gilroy-LightItalic.ttf);
}
@font-face {
  font-family: "Gilroy_Regular";
  src: url(./assets/fonts/Gilroy-Regular.ttf);
}
@font-face {
  font-family: "Gilroy_Medium";
  src: url(./assets/fonts/Gilroy-Medium.ttf);
}
@font-face {
  font-family: "Gilroy_Semibold";
  src: url(./assets/fonts/Gilroy-SemiBold.ttf);
}
@font-face {
  font-family: "Gilroy_Bold";
  src: url(./assets/fonts/Gilroy-Bold.ttf);
}
@font-face {
  font-family: "Gilroy_Black";
  src: url(./assets/fonts/Gilroy-Black.ttf);
}

body {
  overflow-x: hidden;
}
